@CHARSET "UTF-8";
#member_detail{border: 1px solid gray;width:90%;height: 400px;margin:0 auto;border-collapse: collapse;}
	#member_detail tr{border: 1px solid gray;height: 20%}
	#member_detail tr td{border: 1px solid gray;}
	.font_bold{font-weight: bold;}
	.bg_color_yellow{background-color: yellow}